.post {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  background-color: #f7f7f7;
  text-align: center;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.post img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.post__content {
  padding: 1rem;
}

.post__content h3 {
  margin: 0.5rem 0;
  font-size: 1.25rem;
}

.post a {
  text-decoration: none;
  color: inherit;
}

.post:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  background-color: #efefef;
}

.post:hover h3 {
  color: #6305dd;
}
